@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background: linear-gradient(rgba(96, 218, 255, 0.726), rgb(37, 96, 114));
}
.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  border-radius: 30px;
  margin: 10px;
  flex-grow: 1;
  cursor: pointer;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 6px 0px rgba(21, 41, 56, 0.5);
  transition: all 0.3s ease-in-out;
}

.slide.active {
  flex-grow: 10;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  opacity: 0;
  margin: 0;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.35s ease-in 0.4s;
}
